<nav class="navbar navbar-expand-md navbar-dark bg-dark p-2 mb-3">
    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin') }}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_articles') }}">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_categories') }}">Catégories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
            </li>

        </ul>
    </div>
</nav>