{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
    <h1>Liste des Catégorie</h1>
    <div class="container">
        <ul class="list-group ">
{#            {% for article in articles %}#}
{#                a#}
{#            {% endfor %}#}
        </ul></div>
{% endblock %}
