{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
    <h1>{{ article.titre }}</h1>
   <div class="mb-2"> <p class="fst-italic">Créé le : {{ article.createdAt |date("d/m/Y")}}</p>
    <a href="" class="badge bagde-dark bg-secondary text-decoration-none">{{ categorie }}</a>
   </div>
    <div>
    <p>{{ article.contenu }} </p></div>
{% endblock %}
